%h1 Listing access_tokens

%table
  %tr
    %th Key
    %th Secret
    %th
    %th
    %th

  - @access_tokens.each do |access_token|
    %tr
      %td= access_token.key
      %td= access_token.secret
      %td= link_to 'Show', access_token
      %td= link_to 'Edit', edit_access_token_path(access_token)
      %td= link_to 'Destroy', access_token, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Access token', new_access_token_path
