.hero-unit
  %p Here is the overview graph for the current deploy


- @user_application.deployments.each do |deployment|
  %h1 Deployments
  .row
    %h2= deployment.created_at
    %p
      %a{href: deployment_path(deployment)} View Latest

- @user_application.time_buckets.sort_by {|tb| -1 * tb.created_at.to_i }.each do |time_bucket|
  .row
    %h2= time_bucket.created_at
    %h3 Requests
    - time_bucket.application_requests.each do |app_request|
      %h4
        = app_request.name
        %h5= app_request.request_id
      %table.table.table-striped
        %tr
          %th Name
          %th Count
        - app_request.actions.each_pair do |name, count|
          %tr
            %td= name
            %td= count
