.hero-unit
  %p Here is the overview graph for the current deploy
  %p
    %a{href: deployment_path(@user_application.latest_deployment)} View Latest


- @user_application.deployments.each do |deployment|
  .row
    %h2= deployment.created_at
    %p
      %a{href: deployment_path(deployment)} View Latest
= @user_application.to_json
= @user_application.time_buckets.to_json

- @user_application.time_buckets do |time_bucket|
  .row
    %h2= time_bucket.created_at
    %h3 Requests
    - time_bucket.application_requests.each do |request|
      %h4= request.name
      %table.table.table-striped
        %tr
          %th Name
          %th Count
        - request.actions.each_pair do |name, count|
          %tr
            %td= name
            %td= count

    %h3 Actions
    %table.table.table-striped
      %tr
        %th Name
        %th Count
        %th Mean
        %th Square
      - time_bucket.application_actions.each do |action|
        %tr
          %td= action.name
          %td= action.count
          %td= action.mean
          %td= action.square
