%h1 Listing collector_workers

%table
  %tr
    %th Url
    %th Connection Count
    %th
    %th
    %th

  - @collector_workers.each do |collector_worker|
    %tr
      %td= collector_worker.url
      %td= collector_worker.connection_count
      %td= link_to 'Show', collector_worker
      %td= link_to 'Edit', edit_collector_worker_path(collector_worker)
      %td= link_to 'Destroy', collector_worker, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Collector worker', new_collector_worker_path
